.Header {
    /*
    https://tutorial.techaltum.com/css-flexbox.html#:~:text=Display%20flex%20is%20the%20property,Change%20display%20flex
    */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-color: #108a78;
}

.Home-link {

}